# Tidy Tuesday: Selected British Literary Prizes (1990-2022)
*December 28, 2025*

**About the data**
>"This dataset contains primary categories of information on individual authors comprising gender, sexuality, UK residency, ethnicity, geography and details of educational background, including institutions where the authors acquired their degrees and their fields of study. Along with other similar projects, we aim to provide information to assess the cultural, social and political factors determining literary prestige. Our goal is to contribute to greater transparency in discussions around diversity and equity in literary prize cultures."

The dataset contains background information on authors who have won, or were shortlisted for, British literary prizes. This includes the demographic and educational backgrounds for the authors. 

**The Goals**
* In which genres are women, Black, Asian and ethnically diverse writers most likely to be shortlisted and/or awarded?
* Have prizes improved their record on gender and/or ethnic representation in shortlists and awardees?
* Is there a connection between specific educational credentials and/or educational institutions and writers’ chances of being shortlisted or winning?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
prizes = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2025/2025-10-28/prizes.csv')
prizes

,prize_id,prize_alias,prize_name,prize_institution,prize_year,prize_genre,person_id,person_role,last_name,first_name,...,uk_residence,ethnicity_macro,ethnicity,highest_degree,degree_institution,degree_field_category,degree_field,viaf,book_id,book_title
0,8,Booker Prize,Booker Prize,Booker Foundation,1991,fiction,294,shortlisted,Amis,Martin,...,True,White British,English,Bachelors,University of Oxford,Language and Literature,English Literature,36913662,5,Time's Arrow
1,1,James Tait Black Prize for Fiction,James Tait Black Prize for Fiction,The University of Edinburgh,1991,fiction,33,winner,Boyd,William,...,True,White British,British,unknown,University of Oxford,Language and Literature,English Literature,111500719,36,Brazzaville Beach
2,3,Costa First Novel Award,Whitbread First Novel,Whitbread,1991,fiction,167,winner,Burn,Gordon,...,True,White British,English,none,none,none,none,51988764,42,Alma Cogan
3,8,Booker Prize,Booker Prize,Booker Foundation,1991,fiction,286,shortlisted,Doyle,Roddy,...,False,Irish,Irish,Bachelors,University College Dublin,Multiple,English and Geography,17301306,77,The Van
4,4,Costa Novel Award,Whitbread Novel,Whitbread,1991,fiction,168,winner,Gardam,Jane,...,True,White British,English,Bachelors,University of London,Language and Literature,English Literature,70213168,114,The Queen of the Tambourine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,10,Women's Prize for Fiction,Women's Prize for Fiction,Women's Prize Trust,2022,fiction,192,shortlisted,Shafak,Elif,...,True,Non-UK White,Turkish British,Doctorate,Middle East Technical University,Politics and Economics,Political Science,64320935,367,The Island of Missing Trees
948,11,Gold Dagger,Gold Dagger,The Crime Writers' Association,2022,crime,410,shortlisted,Shaw,William,...,True,White British,English,unknown,unknown,unknown,unknown,NaN,521,The Trawlerman
949,10,Women's Prize for Fiction,Women's Prize for Fiction,Women's Prize Trust,2022,fiction,182,shortlisted,Shipstead,Maggie,...,False,Non-UK White,White American,Masters,University of Iowa,Writing,Creative Writing,231972795,296,Great Circle
950,8,Booker Prize,Booker Prize,Booker Foundation,2022,fiction,176,shortlisted,Strout,Elizabeth,...,False,Non-UK White,White American,Masters,Royal College of Art,unknown,unknown,66631918,316,Oh William!
951,12,BSFA Award for Best Novel,BSFA Award for Best Novel,British Science Fiction Association,2022,sff,491,winner,Tchaikovsky,Adrian,...,True,White British,British,Bachelors,University of Reading,Maths and Sciences,Zoology and Psychology,102929550,627,City of Last Chances

### Part 1: Python
Analysis in Python

Let's go through the columns to see what is going on.

**Prizes**

In [13]:
# Prizes being represented
print(len(prizes.prize_alias.value_counts()), 'awards:')
print(prizes.prize_alias.value_counts())

15 awards:
prize_alias
Booker Prize                               191
Women's Prize for Fiction                  162
Baillie Gifford Prize for Non-Fiction      141
Gold Dagger                                107
Ted Hughes Award for New Work in Poetry     60
James Tait Black Prize for Fiction          33
BSFA Award for Best Novel                   33
Costa Biography Award                       32
Costa First Novel Award                     31
Costa Novel Award                           31
Costa Children's Book Award                 31
Costa Poetry Award                          31
Costa Book of the Year                      31
TS Eliot Prize                              30
James Tait Black Prize for Drama             8
Name: count, dtype: int64

In [15]:
# Institutions being represented
print(len(prizes.prize_institution.value_counts()), 'institutions:')
print(prizes.prize_institution.value_counts())

10 institutions:
prize_institution
Booker Foundation                               191
Women's Prize Trust                             162
Samuel Johnson Prize for Non-Fiction Limited    141
The Crime Writers' Association                  107
Costa                                            97
Whitbread                                        90
Poetry Society                                   60
The University of Edinburgh                      41
British Science Fiction Association              33
TS Eliot Foundation                              30
Name: count, dtype: int64

**Genres**

In [16]:
# Genres being represented
print(len(prizes.prize_genre.value_counts()), 'institutions:')
print(prizes.prize_genre.value_counts())

9 institutions:
prize_genre
fiction               448
non-fiction           141
poetry                121
crime                 107
sff                    33
biography              32
children's             31
no/any/multi genre     31
drama                   8
Name: count, dtype: int64

**Name and Ethnicity**\
Let's combine the first and last names for the authors to create a new column `full_name` for readability.

In [24]:
prizes['full_name'] = prizes['first_name'] + ' ' + prizes['last_name']
prizes.head(3)

,prize_id,prize_alias,prize_name,prize_institution,prize_year,prize_genre,person_id,person_role,last_name,first_name,...,ethnicity_macro,ethnicity,highest_degree,degree_institution,degree_field_category,degree_field,viaf,book_id,book_title,full_name
0,8,Booker Prize,Booker Prize,Booker Foundation,1991,fiction,294,shortlisted,Amis,Martin,...,White British,English,Bachelors,University of Oxford,Language and Literature,English Literature,36913662,5,Time's Arrow,Martin Amis
1,1,James Tait Black Prize for Fiction,James Tait Black Prize for Fiction,The University of Edinburgh,1991,fiction,33,winner,Boyd,William,...,White British,British,unknown,University of Oxford,Language and Literature,English Literature,111500719,36,Brazzaville Beach,William Boyd
2,3,Costa First Novel Award,Whitbread First Novel,Whitbread,1991,fiction,167,winner,Burn,Gordon,...,White British,English,none,none,none,none,51988764,42,Alma Cogan,Gordon Burn

In [34]:
# Any authors appear more than once on the list?
prizes.full_name.value_counts().head(10)

full_name
Ali Smith          9
Hilary Mantel      8
Sebastian Barry    7
Zadie Smith        7
Margaret Atwood    7
Sarah Waters       6
Kate Atkinson      6
Mick Herron        5
Ted Hughes         5
Seamus Heaney      5
Name: count, dtype: int64

Ali Smith leads with 9 appearances.\
What about the authors who have the most wins? The most shortlists?

In [42]:
winners_only = prizes[prizes['person_role'] == 'winner'] # Mask of only award winners
winners_only.full_name.value_counts().head(10)

full_name
Seamus Heaney         5
Ted Hughes            5
Sebastian Barry       5
Christopher Priest    4
Kate Atkinson         4
Don Paterson          4
Hilary Mantel         4
Alice Oswald          3
Ian McDonald          3
Adrian Tchaikovsky    3
Name: count, dtype: int64

In [43]:
shortlisted_only = prizes[prizes['person_role'] == 'shortlisted'] # Mask of only award winners
shortlisted_only.full_name.value_counts().head(10)

full_name
Sarah Waters       6
Ali Smith          6
Margaret Atwood    5
Hilary Mantel      4
Zadie Smith        4
Anne Tyler         4
Abir Mukherjee     4
Mick Herron        4
Colm Tóibín        3
Carol Shields      3
Name: count, dtype: int64

Ali Smith shares first in number of shortlists at 6, which means she has only won an award 3 times. Interesting.

In [47]:
print(prizes.ethnicity_macro.value_counts())
print()
print(prizes.ethnicity.value_counts())

ethnicity_macro
White British         499
Non-UK White          199
Asian                  67
Irish                  53
Jewish                 43
Black British          29
African                23
Caribbean              20
Non-White American     19
Name: count, dtype: int64

ethnicity
English                            217
British                            161
White American                     108
Scottish                            66
Irish                               41
                                  ...
Irish British                        1
Dutch Jewish American                1
Irish British Australian             1
British Irish Australian             1
Chippewa Ojibwe German American      1
Name: count, Length: 149, dtype: int64

**Education**